// Colors
$blue: #00568c;
$dark-blue: #171E2F;
$dark-green: #00610e;
$dark-purple: #2d0d87;
$green: #008313;
$grey: #535353;
$light-blue: #7beafe;
$light-green: #55ef69;
$portfolio-white: #F5F5F5;
$purple: #5a3daa;
$red: #aa0000;
$yellow: #fffec7;

// Fonts
$main-font: 'Montserrat', sans-serif;
