@use '../abstracts/variables' as *;
@use '../abstracts/mixins/icon' as *;

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12rem 2rem;
  position: relative;
  scroll-margin-top: -7.5rem;
  width: 100%;
}

.section-heading {
  font-size: 2.8rem;
  font-weight: 700;
}

.center-content {
  text-align: center;
}

.section-decoration {
  background-color: $dark-blue;
  border-radius: 25rem;
  bottom: calc(100% - 4.5rem);
  height: 17rem;
  position: absolute;
  width: 17rem;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap;
  width: 1px !important;
}

.animated-background {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.portfolio-btn {
  background-color: $dark-blue;
  border: 0.1rem solid $portfolio-white;
  border-radius: 0.5rem;
  color: $portfolio-white;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
  transition: background-color 0.15s ease-in-out,
              color 0.15s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: $portfolio-white;
    color: $dark-blue;
    outline: none;
  }
}

.no-scroll {
  overflow-y: hidden;
}

.simple-link {
  border-radius: 0.5rem;
  color: $purple;
  transition: color 0.15s ease-in-out;

  &:hover,
  &:focus-visible {
    color: $dark-purple;
  }

  &:focus-visible {
    outline: 0.2rem solid $dark-blue;
    outline-offset: 0.2rem;
  }
}
