@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins/icon' as *;

.core-technologies {
  background-color: $portfolio-white;
  color: $dark-blue;
  z-index: 2;

  &__heading-container {
    margin-bottom: 4.5rem;
  }

  &__stack {
    width: 90%;

    .technology-wrapper {
      align-items: flex-start;
      display: grid;
      column-gap: 10rem;
      grid-template-columns: repeat(auto-fit, 6rem);
      justify-content: center;
      justify-items: center;
      list-style: none;
      row-gap: 5rem;

      .technology {
        height: 100%;
        width: 100%;

        > div {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-end;
          width: 100%;
        }
        img {
          margin-bottom: auto;
          margin-top: auto;
          max-height: 10rem;
          object-fit: contain;
          width: 100%;
        }

        .fw-bold {
          font-size: 1.4rem;
          margin-top: 1rem;
          white-space: nowrap;
        }
      }
    }
  }
}
