@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins/icon' as *;

.contact {
  background-color: $portfolio-white;
  color: $dark-blue;
  overflow: hidden;

  &.section {
    padding-bottom: 0;
  }

  .section-decoration--left,
  .section-decoration--right {
    bottom: calc(40% - 4.5rem);
    display: none;
  }

  .section-decoration--left {
    right: calc(100% - 4.5rem);
  }

  .section-decoration--right {
    left: calc(100% - 4.5rem);
  }

  .section-heading {
    margin-bottom: 4.5rem;
  }

  &__form-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    width: 100%;
  }
}

@media only screen and (min-width: 530px) {
  .contact {
    &__form-wrapper {
      .contact__form {
        width: 70%;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  .contact {
    .section-decoration--left,
    .section-decoration--right {
      display: block;
    }
  }
}
