@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins/icon' as *;

.contact-form {
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  position: relative;
  width: 90%;

  &__required-note {
    font-size: 1.3rem;
    line-height: 1.4;
    margin-bottom: 1.6rem;
  }

  &__required-mark {
    color: $red;
  }

  &__state-msg {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: -2.45rem;

    &--success {
      color: $dark-green;
    }
  
    &--error {
      color: $red;
    }
  }
  
  &__loading-spinner {
    align-items: center;
    bottom: 5.5rem;
    display: flex;
    justify-content: center;
    position: absolute;
    right: calc(50% - 1.5rem);
  
    &::after {
      animation: spin 1.2s linear infinite;
      content: '';
      background-color: $green;
      border: 0.5rem solid #ffffff;
      border-radius: 50%;
      border-top-color: $dark-blue;
      height: 3rem;
      width: 3rem;
    }
  }
   
  .portfolio-btn {
    border: 0.2rem solid $dark-blue;
    font-size: 1.4rem;

    &:disabled {
      background-color: $portfolio-white;
      border-color: $grey;
      color: $grey;
      cursor: default;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
