@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins/icon' as *;

.project {
  align-items: center;
  background-color: $portfolio-white;
  border-radius: 2.5rem;
  color: $dark-blue;
  display: flex;
  flex-direction: column;
  font-family: $projects-font;
  padding: 2.5rem 3rem;
  width: 100%;

  &__heading-wrapper {
    align-items: center;
    display: flex;
    margin-bottom: 2rem;

    h2 {
      font-size: 2.8rem;
      margin-left: 1rem;
    }
  }

  .movie-finder-icon {
    @include icon(4.2rem, 4.2rem, '../../assets/icons/movie-finder-icon.png');
  }

  .to-do-list-icon {
    @include icon(4.2rem, 4.2rem, '../../assets/icons/to-do-list-icon.png');
  }

  .batata-bit-icon {
    @include icon(4.2rem, 2.6rem, '../../assets/icons/batata-bit-icon.svg');
  }

  .generic-blog-icon {
    @include icon(4.2rem, 4.2rem, '../../assets/icons/blog-icon.png');
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    list-style: none;
    margin-bottom: 3rem;

    li {
      color: $dark-green;
      font-size: 1.6rem;
      font-style: italic;
      font-weight: 600;
    }
  }

  p {
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin-bottom: 3rem;
  }

  &__show-more {
    margin-bottom: 3rem;

    h3 {
      font-size: 1.6rem;
      margin-bottom: 1.5rem;
      text-align: start;
    }

    ol {
      list-style-position: inside;
      text-align: justify;

      li {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
      }
    }
  }

  &__link-wrapper {
    column-gap: 20%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: auto;
    row-gap: 2rem;
    width: 100%
  }

  &__button {
    align-items: center;
    background-color: $dark-green;
    border: 0.1rem solid $portfolio-white;
    border-radius: 2.5rem;
    color: $portfolio-white;
    cursor: pointer;
    display: flex;
    font-size: 1.6rem;
    font-weight: 600;
    flex: 0.8 1 16rem;
    padding: 1.2rem;
    justify-content: center;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      color 0.15s ease-in-out;
    white-space: nowrap;

    &:focus-visible {
      outline: 0.2rem solid $dark-blue;
    }

    &:hover,
    &:focus-visible {
      background-color: $purple;
    }

    &--repository {
      background-color: $blue;
    }

    &--show-more {
      background-color: $portfolio-white;
      border: 0.3rem solid $blue;
      border-radius: 0.5rem;
      color: $blue;
      font-size: 1.6rem;
      flex: 0;
      margin-bottom: 5rem;
      margin-right: auto;
      min-width: unset;
      padding: 0.8rem;

      &:hover,
      &:focus-visible {
        background-color: $portfolio-white;
        border-color: $dark-green;
        color: $dark-green;
        outline-offset: 0.2rem
      }
    }
  }

  .development-icon {
    @include icon(2.5rem, 2.5rem, '../../assets/icons/web-development-icon.svg');
    filter: brightness(0) invert(1);
    margin-left: 1rem
  }

  .arrow-icon {
    @include icon(2.5rem, 2.5rem, '../../assets/icons/right-arrow.svg');
    margin-left: 0.4rem
  }
}

@media only screen and (min-width: 900px) {
  .project {
    padding-left: 6rem;
    padding-right: 6rem;

    &__button {
      &--show-more {
        margin-bottom: 4rem;
      }
    }
  }
}
