@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins/icon' as *;

.header {
  background-color: $dark-blue;
  box-shadow: none;
  color: $portfolio-white;
  min-height: 93vh;
  overflow: hidden;
  z-index: 3;

  &.section {
    justify-content: unset;
    padding-bottom: 9rem;
    padding-top: 2rem;
  }

  &__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.5rem;
    width: 100%;

    .portfolio-btn {
      font-size: 1.4rem;
      white-space: nowrap;
    }
  }

  &__content {
    align-items: center;
    column-gap: 6rem;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3rem;
    width: 100%;
  }

  &__text-content {
    max-width: 60rem;
    text-align: start;
    width: 100%;

    h1 {
      display: flex;
      flex-direction: column;
      font-size: 4rem;
      margin-bottom: 3rem;

      span {
        width: fit-content;

        &:first-of-type {
          color: $light-blue;
        }

        &:last-of-type {
          color: $light-green;
          font-size: 2.5rem;
          line-height: 3.4rem;
        }
      }
    }

    p {
      font-size: 1.4rem;
      line-height: 2.1rem;
      padding-bottom: 1.6rem;

      &:last-of-type {
        margin-bottom: 3rem;
        padding-bottom: 0;
      }
    }
  }

  &__cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__cta {
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
  }

  &__profile-picture {
    border-radius: 25rem;
    width: 30rem;
  }
}
