@use '../../scss/abstracts/variables' as *;
@use '../../scss/abstracts/mixins/icon' as *;

.case-studies-section {
  background-color: $dark-blue;
  color: $portfolio-white;
  overflow: hidden;
  z-index: 1;

  .section-decoration {
    background-color: $portfolio-white;
  }

  h2 {
    background-color: $dark-blue;
    margin-bottom: 4.5rem;
  }

  &__case-studies-container {
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
    justify-items: center;
    width: 100%;
  }
}
